.register-from{

}

.register-from > * {
    display: flex;
    flex-direction: column;
}

.register-from > div > * {
    max-width: 350px;
}

.register-from > div > button {
    max-width: 350px;
}

.error-list{
    max-width: 350px;
}